{% extends 'page/layout.html.twig' %}

{% block title %}{{ 'career.title'|trans }}{{ 'title_ending'|trans }}{% endblock %}

{% block body_title %}{{ 'career.h1'|trans }}{% endblock %}

{% block body_content %}
    <section class="container mx-auto py-16">
        <p>Test</p>
    </section>
{% endblock %}
