{% extends 'base.html.twig' %}

{% block body %}
    <section id="heading">
        <h1 class="font-gemunu">{% block body_title %}{% endblock %}</h1>
    </section>
    {% block body_content %}{% endblock %}
{% endblock %}
