.table.datagrid {

  th {

    a {
      display: block;
      color: kt-base-color(label, 3);
      font-weight: 500;
      vertical-align: middle;
      font-size: 1rem;

      i {
        margin-left: .3rem;
        font-size: 0.6rem;
        vertical-align: middle;
      }
    }

    &.sorted {

      a {
        color: kt-state-color(brand);
      }
    }
  }

  tbody {
    td {
      padding: 15px 10px;
    }
  }
}
