.login-page {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
    flex-direction: column;

    .card {
      padding: 2rem;
      width: 450px;
      max-width: 90%;

      h1 {
        text-align: center;
        font-family: $font-h1;
      }
    }
  }
}
