{% set routeName = app.request.get('_route') %}

<header class="header">
    <nav class="header__nav">
        <div class="header__logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/logo.png') }}" alt="{{ 'logo_alt'|trans }}">
            </a>
        </div>
        <div id="header__mainListDiv" class="header__main_list">
            <ul class="header__navlinks">
                <li><a href="{{ path('home') }}" {% if routeName == 'home' %}class="active"{% endif %}>Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Mon parcours</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <span class="header__navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </nav>
</header>
