<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content="Développeur Web FullStack Symfony, disponible sur Angers ou en remote - Dylan ALIZON Développement">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="is-preload">

<!-- Header -->
{% include '_navbar.html.twig' %}

{% block body %}{% endblock %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>Accumsan montes viverra</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
            </section>
            <section>
                <h4>Sem turpis amet semper</h4>
                <ul class="alt">
                    <li><a href="#">Dolor pulvinar sed etiam.</a></li>
                    <li><a href="#">Etiam vel lorem sed amet.</a></li>
                    <li><a href="#">Felis enim feugiat viverra.</a></li>
                    <li><a href="#">Dolor pulvinar magna etiam.</a></li>
                </ul>
            </section>
            <section class="footer__contact-details">
                <ul class="plain">
                    <li><a href="https://www.instagram.com/dylanalizon/" target="_blank"><div class="icon-container"><i class="icon fab fa-instagram"></i></div>Instagram</a></li>
                    <li><a href="https://github.com/dylanalizon" target="_blank"><div class="icon-container"><i class="icon fab fa-github"></i></div>Github</a></li>
                    <li><a href="mailto:dylan.alizon@gmail.com" target="_blank"><div class="icon-container"><i class="icon fas fa-envelope"></i></div>Email</a></li>
                    <li><div class="icon-container"><i class="icon fas fa-mobile-alt"></i></div>06 72 47 22 30</li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            {{ 'footer.bottom_line'|trans }}
        </div>
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
